<!DOCTYPE html>
<html>
<head>
  <title>Shivam's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="/assets/stylesheets/footer.scss"> -->
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= render 'layouts/nav' %>
<%= bootstrap_flash %>
  <div class="container">
    <%= yield %>
  </div>
<%= render 'layouts/foot' %>
</body>
</html>
